/* Importing icon from font-awesome  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* universal  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* preloader  */
#preloader{
  background: rgb(13, 13, 13) url("/images/loading-pre.gif") no-repeat center;
  background-size: 40%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* preloader end  */


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
/* custom scroll bar End*/


/* navigatin bar  */
.content-navb{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.Mynavbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 2%;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);
}
.Mynavbar.sticky{
  background: #fffdfd;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.Mynavbar .content-navb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Mynavbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
  text-align: center;
}
.menu-list li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.menu-list li{
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
  text-align: center;
}
.menu-list li::after{
    content:'';
    height:5px;
    width: 0;
    background-color: red;
    margin:auto;
    display: block;
    text-align: center;
}
.menu-list li:hover::after{
    width: 100%;
    transition:width 0.5s linear;
    text-align: center;
}
.icon-nav{
  color: rgb(7, 1, 1);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content-navb{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content-navb{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content-navb{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon-nav{
    display: block;
  }
  .icon-nav.hide{
    display: none;
  }
  .Mynavbar .menu-list{
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .Mynavbar.show .menu-list{
    left: 0%;
  }
  .Mynavbar .menu-list li{
    margin-top: 45px;
  }
  .Mynavbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color:#f1f1f1;
  }
  .Mynavbar.show .menu-list li a{
    margin-left: 0px;
  }
  .menu-list li::after{
    content:'';
    height:5px;
    width: 0;
    background-color: red;
    margin:auto;
    display: block;
    text-align: center;
}
.menu-list li:hover::after{
    width: 40%;
    transition:width 0.5s linear;
    text-align: center;
}

}
@media (max-width: 380px) {
  .Mynavbar .logo a{
    font-size: 27px;
  }
}
/* Navigation bar css end  */



/* Home section started  */
#Home-content1 h3 , #Home-content2 h3{
  font-weight: 700;
}
#Home{
  background-image: url(https://www.tedxbvcoe.com/static/media/background.9baf20a6.svg);
  background-image: no-repeat;
  background-position: center;
  background-size: contain;
}
/* Home section End*/

@media (max-width: 868px) {
#Home{
 background-image: url(https://www.tedxbvcoe.com/static/media/background.9baf20a6.svg) !important;
  background-image: no-repeat !important;
  background-position: center !important;
  background-size: 100% 100% !important;
}
}

@media (max-width: 470px) {
#Home-content-all{
margin-left: 70px;
}
#Home-content1, #Home-content2{
  margin-left: auto !important;
  margin-right: auto !important;
  justify-content: center !important;
  align-items: center !important;

}
}


/* About Section  Start*/
#about-images{
  border: 4px solid red;
  margin: 30px 0px;
  width: 380px;
  height: 210px;
}

#about-content p{
  text-align: justify;
  text-indent: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  word-spacing: 3px;
  text-shadow: 1px 1px 1px rgb(248, 220, 220);
}

.about-button-cust{
  border:3px solid transparent!important;
  margin-left:10px !important;
  background-color: #3f3f3f !important;
  color:white !important;
  font-size: 20px;
  font-weight: 600;
}
.about-button-cust:hover{
  background-color: red!important;
}
/* about section end  */


/* speakers start  */
#speaker{
  background-image: url(https://www.tedxbvcoe.com/static/media/speakers-background.6516df3d.svg);
  background-image: cover;
  background-attachment: scroll;
}

#speaker h1{
  font-size: 50px;
  font-weight: 800;
  color: red;
  padding:20px;
}

#speaker button{
  margin-bottom:50px;
  background-color: red;
  border-radius: 20px;
  padding:8px 22px;
  color:white;
  border:none;
}
#speaker button:hover{
  background-color: white;
  color: red;
  border:2px solid red;
  font-size:15px;
  font-weight: 500;
}

/* speakers End */


/* ticket section start  */
#ticket{
  background-image: url(https://www.tedxbvcoe.com/static/media/background.9baf20a6.svg);
  background-image: cover;
}
#ticket h2{
  font-size: 45px;
  font-weight: 600;
  color: red;
}

#ticket-price-heading, #ticket-price-heading1, #ticket-price-heading2{
  background-color: #fff7f7;
  border-radius: 25px 25px 0px 0px;
}

.ticket-price-heading{
  color: red;
  font-weight: 600;
  letter-spacing: 1px;
}

#ticket-full-card{
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 520px;
}
#ticket a{
  background-color: red!important;
  border:none;
  border-radius: 20px;
  padding:7px 25px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 20px;
}
#ticket a:hover{
  background-color: #3f3f3f!important;
}
/* ticket section End  */

/* partners section start  */
#partners{
  background-image: url(https://www.tedxbvcoe.com/static/media/background.9baf20a6.svg);
}

#partners h2{
  font-size:40px;
  font-weight: 600;
  color:red;
}
#partners h3{
  font-weight: 600;
}
#partners .card{
  border:3px solid red;
}
/* partners section start  */


/* <!-- reson to partner start  --> */
#reson-to-partner h1{
  color: red;
  font-weight: 600;
}
#reson-to-partner img{
  width: 100px;
  border:3px solid red;
  border-radius: 50%;
  margin-bottom: 20px;
}
#reson-to-partner h5{
  font-size:30px;
  color:red;
  font-weight: 500;
  margin-bottom: 20px;
}
#reson-to-partner-card, #reson-to-partner-card2, #reson-to-partner-card3{
  border:none;
}
/* <!-- reson to partner End  --> */



/* <!-- faq section start --> */
#faq{
  background-image: url(https://www.tedxbvcoe.com/static/media/background.d5366393.svg);
}
#faq .accordion-item{
  margin-bottom: 20px;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* <!-- faq section End --> */


/* meet core team start  */
#meet-teams img{
  border-radius: 50%;
  border:3px solid red;
  width: 180px;
}
#meet-teams .card{
  border:none;
}
/* meet core team end  */

/* contact start  */
#contact{
  background-image: url(https://www.tedxbvcoe.com/static/media/background.d5366393.svg);
}
#contact h1{
  font-size: 50px;
  font-weight: 600;
}
#contact button{
  border:3px solid black;
  padding:8px 19px;
  border-radius: 19px;
  background-color: white;
}
#contact button:hover{
  color:white;
  background-color: #222;
}
/* contact end  */


/* footer section start  */

#footer-section button{
  border:2px solid transparent;
  color:white;
  background-color: red;
  padding:8px 22px;
  border-radius: 20px;
}

#footer-section button:hover{
  background-color: white;
  border:3px solid red;
  color:red;
}

.footer-icons a i{
  font-size: 30px;
}

/* footer section End  */
